---
import LogoGridItem from '~/components/ui/LogoGridItem.astro';

let { title = '', image = '', href = '' } = Astro.props;
---

<a href={href} class="block h-full">
  <LogoGridItem
    {title}
    containerClass="h-full relative flex flex-col rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6"
    panelClass="max-w-none"
    titleClass="md:text-[1.3rem]"
    descriptionClass="prose prose-sm pt-3 text-muted dark:prose-string:text-white"
    iconClass="text-white bg-secondary rounded-full w-10 h-10 p-2 md:w-12 md:h-12 md:p-3 mr-4 rtl:ml-4 rtl:mr-0"
    image={image}
  >
    <slot />
  </LogoGridItem>
</a>
