---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import FeatureItem from '~/components/widgets/FeatureItem.astro';
import BoxFeatureItem from '~/components/widgets/BoxFeatureItem.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';

import youtubeIcon from '~/assets/images/youtube-icon.png';
import githubIcon from '~/assets/images/github-icon.png';
import q2Icon from '~/assets/images/q2-icon.png';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Team',
        href: '/team',
      },
      { text: 'Contract Work', href: '/contract-work' },
    ]}
    image={{ src: '~/assets/images/cap-website.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">The Caporaso Lab</Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold"> Developing production-quality software tools to study the microbial world. </span>
    </Fragment>
  </Hero>

  <Stats
    stats={[
      { title: 'Citations', amount: '50K+' },
      { title: 'Patent Applications', amount: '2K+' },
      { title: 'Clinical Trials', amount: '50+' },
    ]}
  />

  Fea

  <Features
    id="features"
    title="Focus Areas"
    subtitle="We are a bioinformatics software engineering lab with a track record..."
  >
    <FeatureItem title="The QIIME2 Software Project" icon="tabler:tournament">
      A open-source software platform for microbioime analysis with integrated provenance tracking and a variety of
      interfaces.
    </FeatureItem>

    <FeatureItem title="Diverse Research Experience" icon="tabler:microscope">
      Groundbreaking publications across the fields of cancer prevention & treatment, environmental sustainability, and
      scientific computing.
    </FeatureItem>

    <FeatureItem title="Bioinformatics Education" icon="tabler:dna-2">
      We are passionate about educating a diverse range of people in computational biology by maintaining a community
      forum and hosting workshops around the world.
    </FeatureItem>

    <FeatureItem title="Biological Data Analysis Expertise" icon="tabler:chart-histogram">
      By developing pipelines for tutorials used by students and experts alike and designing parallel software to make
      optimal use of supercomputers, we know what it takes to perform serious scientific computing.
    </FeatureItem>
  </Features>

  <Features2 title="Connect With Us" subtitle="We're excited to engage with you!" columns={2}>
    <BoxFeatureItem title="YouTube" image={youtubeIcon.src}>
      Our archive for comprehensive data science workshops, indepth tutorials, and complete courses.
    </BoxFeatureItem>
    <BoxFeatureItem title="GitHub" image={githubIcon.src}>
      We are open source software developers. Find us on github and check out our work.
    </BoxFeatureItem>
    <BoxFeatureItem title="QIIME2 Forum" image={q2Icon.src}>
      This platform serves as a free resource for discussions, troubleshooting, and collaboration. Users are encouraged
      to engage and share their insights.
    </BoxFeatureItem>
  </Features2>
</Layout>
