---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import FeatureItem from '~/components/widgets/FeatureItem.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Team',
        href: '/team',
      },
      { text: 'Contract Work', href: '/contract-work' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">The Caporaso Lab</Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold"> Developing production-quality software tools to study the microbial world. </span>
    </Fragment>
  </Hero>

  <Stats
    stats={[
      { title: 'Citations', amount: '50K+' },
      { title: 'Patent Applications', amount: '2K+' },
      { title: 'Clinical Trials', amount: '50+' },
    ]}
  />

  <Features
    id="features"
    title="Highlights"
    subtitle="We are a bioinformatics software engineering lab with a track record..."
  >
    <FeatureItem title="The QIIME2 Software Project" icon="tabler:tournament">
      A open-source software platform for microbioime analysis with integrated provenance tracking and a variety of
      interfaces.
    </FeatureItem>

    <FeatureItem title="Diverse Research Experience" icon="tabler:microscope">
      Groundbreaking publications across the fields of cancer prevention & treatment, environmental sustainability, and
      scientific computing.
    </FeatureItem>

    <FeatureItem title="Bioinformatics Education" icon="tabler:dna-2">
      We are passionate about educating a diverse range of people in computational biology by maintaining a community
      forum and hosting workshops around the world.
    </FeatureItem>

    <FeatureItem title="Biological Data Analysis Expertise" icon="tabler:chart-histogram">
      By developing pipelines for tutorials used by students and experts alike and designing parallel software to make
      optimal use of supercomputers, we know what it takes to perform serious scientific computing.
    </FeatureItem>
  </Features>

  <Features2
    title="Connect With Us"
    subtitle="We're excited to engage with you!"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'TODO',
        description: 'Hannah says we need more social media accounts...',
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
