---
import Features from '~/components/widgets/Features.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
const metadata = {
  title: 'Jobs',
};
---

<Layout metadata={metadata}>

  <Hero
    tagline="Careers at the Caporaso Lab"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your career, <br />
      <span class="text-accent dark:text-white"> Join Our Team</span>
    </Fragment>

    <Fragment slot="subtitle">
      The Caporaso Lab is often hiring, position types include <span class="text-accent dark:text-white">research software engineers, post-doctoral scholars, graduate research assistants, writers, project managers, and administrative assistants.</span>
    </Fragment>
  </Hero>
todo ALL THE LINKS, maybe some buttons?
    <Content
    isAfterContent={true}
    items={[
      {
        title: 'q2-jobs:',
        description: `The QIIME 2 Forum Job Board. You can find microbiome, bioinformatics, and QIIME 2 employment opportunities on q2-jobs, the QIIME 2 Forum’s Job Board. Feel free to post your own job announcements - it’s free. We just ask that posts are restricted to jobs relevant to the QIIME 2 user and developer community.`,
        icon: 'tabler:wand',
      },
      {
        title: 'Undergraduate Jobs:',
        description: `Undergraduates interested in positions should review our undergraduate job information below.`,
        icon: 'tabler:carousel-horizontal'
    },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Looking for a Job Opening? <br /><span class="text-xl">Find open positions with our lab and our collaborators:</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<Features
  id="features"
  title="Undergraduate Research Opportunities"
  subtitle="Cutting-edge science and software development."
  columns={4}
>
  <div>
    <h3 class="font-bold text-lg">Software Engineering</h3>
    <ul class="list-disc pl-6">
      <li>Contribute to the QIIME 2 ecosystem (Python)</li>
      <li>Design and build interactive data visualizations (JavaScript, various frameworks)</li>
      <li>Develop bioinformatics plugins (Various languages)</li>
      <li>Create and manage product documentation (Jinja2, Sphinx)</li>
      <li>Provide user support (Discourse)</li>
      <li>Explore DevOps and build pipelines (GitHub Actions)</li>
    </ul>
  </div>
  <div>
    <h3 class="font-bold text-lg">Microbiome Data Science</h3>
    <ul class="list-disc pl-6">
      <li>Perform bioinformatics analysis on contemporary studies</li>
      <li>Contribute to published work and research design</li>
      <li>Build valuable collaborative relationships</li>
    </ul>
  </div>
  <div>
    <h3 class="font-bold text-lg">Publications & Research Travel</h3>
    <ul class="list-disc pl-6">
      <li>Develop conference posters and presentations</li>
      <li>Contribute to collaborative and independent research publications</li>
      <li>Co-author lab publications</li>
      <li>Travel fully-funded in support of research products</li>
    </ul>
  </div>
  <div>
    <h3 class="font-bold text-lg">Flexible Work Schedule</h3>
    <ul class="list-disc pl-6">
      <li>Work 10-20 hours per week during school sessions</li>
      <li>Work up to 40 hours during breaks (subject to NAU policies)</li>
      <li>Flexible scheduling to accommodate coursework and exams</li>
    </ul>
  </div>
</Features>

    <Steps2
    title="Ready to Apply?"
    subtitle="You are just steps from a new career!"
    items={[
      {
        title: 'Apply to The Pathogen and Microbiome Institute',
        description:
          'To work with the Caporaso Lab, students must complete an application to the Pathogen and Microbiome Institute, print it, and hand-deliver to PMI during business hours at: Applied Research & Development (building #56). Please deliver your application to the front desk of the PMI Administrative Suite (ARD Suite 210).'
              },
      {
        title: 'Get in touch',
        description:
          'After delivering your application, notify Evan Bolyen by email. This will help us access and review your application in a timely manner.'
              },
      {
        title: 'Save the Date',
        description:
          'Applications are reviewed three times annually, as follows: Spring, January 15th; Summer, May 15th; Fall, September 1st.'
      },
    ]}
  />

    <Content
    title="Want to get started TODAY?"
    subtitle="Contribute Informally!"
    isReversed
    items={[
      {
        title: 'QIIME 2 on GitHub:',
        description:
          'QIIME 2 is free, open, community-driven software. Pull requests are always welcome! If you’re not available for a formal position but would like to contribute, notify the team in a post to our developer discussion, then check out our list of good first issues.'
      },
      {
        title: 'An Introduction to Applied Bioinformatics (IAB)',
        description: 'free, open source interactive text that introduces readers to core concepts of bioinformatics in the context of their implementation and application. IAB is available as a learning resource, and also welcomes community contributions as GitHub pull requests.'
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        We are Open Source: <br /><span class="text-2xl"></span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>